<mat-dialog-content id="content">
  <h1>{{ task.title }}</h1>
  <p><b>Assigned To:</b> {{ task.assignTo.join(", ") }}</p>
  <p><b>Description:</b> {{ task.description }}</p>
  <p><b>Due Date:</b> {{ task.duDate }}</p>
  <p><b>Priority:</b> {{ task.priority }}</p>
  <p><b>Category:</b> {{ task.category }}</p>
  <p><b>Status:</b> {{ task.status }}</p>
  <form>
    @for (subs of task.subTasks; track $index) {
    <div>
      <label>
        <input
          id="subTaskInput$index"
          (change)="subTaskCompleted($index)"
          type="checkbox"
          [(ngModel)]="subTasksStatus[$index]"
          name="subTask{{ $index }}"
        />
        {{ subs }}
      </label>
    </div>
    }
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
  <button mat-button mat-dialog-close (click)="openEditDialog(task)">
    Edit
  </button>
</mat-dialog-actions>
