.content {
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 32px;
    height: 500px;
    margin-left: 90px;
    width: 1000px;
  }
  
  .close-icon {
    position: absolute;
    right: 16px;
    top: 16px;
    object-fit: cover;
    cursor: pointer;
  }
  
  .left-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
    padding-inline: 16px;
    background-color: #2a3647;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    > img {
      width: 100px;
      height: 100px;
      object-fit: contain;
    }
    > h2 {
      font-weight: 700;
      color: white;
      font-size: 64px;
    }
    >span{
        font-weight: 400;
        font-size: 27px;
        color: white;
    }
  }
  
  .vertical-line {
    height: 3px;
    border-radius: 3px;
    width: 25%;
    background-color: #29abe2;
  }
  
  .right-container {
    width: 60%;
    background-color: white;
    display: flex;
    align-items: center;
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-inline: 16px;
    gap: 32px;
  }
  
  .circle {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D1D1D1;
    color: white;
    font-weight: 700;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }
  
  .input-field {
    gap: 8px;
    display: flex;
    align-items: center;
    position: relative;
    > img {
      width: 32px;
      height: 32px;
      object-fit: cover;
      position: absolute;
      right: 10px;
    }
  }
  
  input {
    border-radius: 10px;
    font-weight: 400;
    font-size: 24px;
    color: black;
    padding: 8px;
  }
  
  .save-button {
    border-radius: 8px;
    background-color: #2a3647;
    color: white;
    font-weight: 700;
    font-size: 24px;
    display: flex;
    align-items: center;
    width: 225px;
    height: 50px;
    cursor: pointer;
    gap: 10px;
    &:hover {
      scale: 1.2;
    }
  }
  
  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
  
  .cancel-button {
    border-radius: 8px;
    background-color: white;
    color: #2a3647;
    font-weight: 400;
    width: 100px;
    height: 50px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 10px;
    &:hover {
      scale: 1.2;
    }
  }