<div class="content">
  <img
    (click)="closeEditContact()"
    class="close-icon"
    src="./assets/img/contacts/Close.svg"
    alt="X"
  />
  <div class="left-container">
    <img src="./assets/img/contacts/join-logo-white.svg" alt="Join-Logo" />
    <h2>Edit Contact</h2>
    <div class="vertical-line"></div>
  </div>
  <div class="right-container">
    <div id="circle-initials" class="circle">{{ contactComponent.contactInitials }}</div>
    <div class="column">
      <div class="input-field">
        <input id="input-name" type="text" value="{{ contactComponent.contactName }}" />
        <img src="./assets/img/contacts/person.svg" alt="person-icon" />
      </div>
      <div class="input-field">
        <input id="input-email" type="text" value="{{ contactComponent.contactEmail }}" />
        <img src="./assets/img/contacts/mail.svg" alt="mail-icon" />
      </div>
      <div class="input-field">
        <input id="input-phone" type="text" value="{{ contactComponent.contactPhone }}" />
        <img src="./assets/img/contacts/call.svg" alt="phone-icon" />
      </div>
      <div class="flex">
        <button class="delete-button">Delete</button>
        <button (click)="saveEdittedContact()" class="save-button">
            <div>Save</div>
            <img src="./assets/img/contacts/check.svg" alt="check" />
          </button>
      </div>
    </div>
  </div>
</div>
