<div class="content">
    <img class="close-icon" src="./assets/img/contacts/Close.svg" alt="X">
    <div class="left-container">
        <img src="./assets/img/contacts/join-logo-white.svg" alt="Join-Logo">
        <h2>Edit Contact</h2>
        <div class="vertical-line"></div>
    </div>
    <div class="right-container">
        <div class="circle">AM</div>
        <div class="column">
            <div class="input-field">
                <input type="text" value="Anton Mayer">
                <img src="./assets/img/contacts/person.svg" alt="person-icon">
            </div>
            <div class="input-field">
                <input type="text" value="antom&#64;gmail.com">
                <img src="./assets/img/contacts/mail.svg" alt="mail-icon">
            </div>
            <div class="input-field">
                <input type="text" value="+49 15712312312">
                <img src="./assets/img/contacts/call.svg" alt="phone-icon">
            </div>
        </div>
    </div>
</div>
