<div class="content">
    <span>A</span>
    <div class="vertical-line"></div>
    <div class="name">
        <div class="flex-start">
            <div class="circle">AM</div>
            <div class="column">
                <span>Anton Mayer</span>
                <p>antom&#64;gmail.com</p>
            </div>
        </div>
    </div>
    <div class="name">
        <div class="flex-start">
            <div class="circle">AM</div>
            <div class="column">
                <span>Bekir Labjani</span>
                <p>b.labjani&#64;gmail.com</p>
            </div>
        </div>
    </div>
    <div class="name">
        <div class="flex-start">
            <div class="circle">AM</div>
            <div class="column">
                <span>Ahmet Yapicilar</span>
                <p>a.yapicilar96&#64;gmail.com</p>
            </div>
        </div>
    </div>
</div>
