<app-sidebar></app-sidebar>
<app-header></app-header>
<div class="content">
    <div class="left-container">
        <button (click)="openAddContact($event)">Add new contact <img src="./assets/img/contacts/person_add.svg"></button>
        <div class="contacts">
            @for (letter of letters; track $index){
                <span> {{ letter }}</span>
                <div></div>
            @for (contact of contacts; track $index){
                @if(letter == contact.name.charAt(0)){
                    <app-letter-a
                id="contact.id"
                [letter] = "letter"
                [name] = "contact.name"
                [email] = "contact.email"
                [initial] = "initials[$index]"
                (click)="showContact(contact.name, contact.email, contact.phone, initials[$index], contact.id)"
                >
                </app-letter-a>
                }
            }
        }
        </div>
    </div>
    <div class="right-container">
        <div class="flex gap-16">
            <h2>Contacts</h2>
            <div class="vertical-line"></div>
            <span>Better with a team</span>
        </div>
        <div class="column gap-80" [ngClass]="{ 'd-none': !contactClicked }">
            <div class="flex gap-80">
                <div class="circle">{{ contactInitials }}</div>
                <div class="column gap-16">
                    <h4>{{ contactName }}</h4>
                    <div class="flex gap-16">
                        <a (click)="openEditContact($event)" href="#" class="flex">
                            <img src="./assets/img/contacts/edit.svg" alt="pen">
                            <span>edit</span>
                        </a>
                        <a (click)="deleteContactDirectly($event)" href="#" class="flex">
                            <img src="./assets/img/contacts/delete.svg" alt="delete">
                            <span>delete</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="information">
                <h4>Contact Information</h4>
                <div class="space-between info">
                    <span>Email</span>
                    <a href="#">{{ contactEmail }}</a>
                </div>
                <div class="space-between info">
                    <span>Phone</span>
                    <p>{{ contactPhone }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="overlay" class="overlay d-none">
    <app-edit-contact id="edit-contact"></app-edit-contact>
</div>

<div id="overlay-second" class="overlay d-none">
    <app-add-contact id="add-contact"></app-add-contact>
</div>

<div *ngIf="contactAdded" class="overlay">
    <div id="add-contact-animation" class="succesfullyAddedContact">
        Contact succesfully created
    </div>
</div>

<div *ngIf="contactDeleted" class="overlay">
    <div id="add-contact-animation" class="succesfullyAddedContact">
        Contact succesfully deleted
    </div>
</div>
