.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    background-color: #151A2E;
}

.sidebar .sidebar-header{
    display: flex;
    position: relative;
    align-items: center;
    padding: 25px 20px;
    justify-content: space-between;
}

.sidebar-header .header-logo img{
    height: 50px;
    width: 50px;
    display: block;
    object-fit: contain;
    border-radius: 50%;
}

.sidebar-nav .nav-list{
    list-style: none;
     display: flex;
     gap: 4px;
     padding: 0 15px;
     flex-direction: column;
}

.sidebar-nav .nav-item .nav-link{
    color: white;
    text-decoration: none;
}

 