<mat-dialog-content class="dialog">
  <!-- <h1 mat-dialog-title>{{ data.title }}</h1>
  
    <p><strong>Description:</strong> {{ data.description }}</p>
    <p><strong>Assigned to:</strong> {{ data.assignTo }}</p>
    <p><strong>Due Date:</strong> {{ data.duDate }}</p>
    <p><strong>Priority:</strong> {{ data.priority }}</p>
    <p><strong>Category:</strong> {{ data.category }}</p>
  
    @if (data.subTasks.length > 0) {
      <div>
          <h3>Subtask</h3>
          <ul>
              @for (sublist of data.subTasks; track $index) {
                  <li>{{sublist}}</li>
              }
          </ul>
      </div>
    }
  -->
  <div class="category">
    <span>{{ data.category }}</span>
  </div>

  <div class="headline">
    <span class="head">{{ data.title }}</span>
    <span>{{ data.description }}</span>
  </div>

  <div class="infos">
    <span>{{ data.duDate }}</span>
    <span class="priory">{{ data.priority }}</span>
  </div>
  <div class="assign">
    <span>Assing To:</span>
      <div class="boardVersionCircel" id="circle">
        <p class="nameIdList" id="name">{{ data.assign }}</p>
      </div>
  </div>
  <div class="subs">
    <span>{{ data.subs }}</span>
    <span> <div class=""></div></span>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="dialogRef.close()">Close</button>
  <button mat-button>Edit</button>
</mat-dialog-actions>
