<mat-dialog-content class="dialog">

  <div class="category">
    <span>{{ data.category }}</span>
  </div>

  <div class="headline">
    <span class="head">{{ data.title }}</span>
    <span>{{ data.description }}</span>
  </div>

  <div class="infos">
    <span>{{ data.duDate }}</span>
    <span class="priory">{{ data.priority }}</span>
  </div>
  <div class="assign">
    <span>Assing To:</span>
    <div class="dflex">
  
      <div class="dflex">
        @for (assign of data.assignTo; track $index) {
          @if ($index === 0) {
            <!-- Zeige den ersten Buchstaben des ersten Kontakts -->
            <div class="circleAvatar background-circle">
              <p class="" id="">{{ assign | slice: 0:1 }}</p>
            </div>
          } @else if ($index === 1) {
            <!-- Zeige "1+" für mehr als einen Kontakt -->
            <div class="circleAvatar background-circle addCircle">
              <p class="" id="">{{data.assignTo.length - 1}}+</p>
            </div>
            <!-- Schleife abbrechen, um keine weiteren Elemente zu rendern -->
          }
        }
      </div>
      
    </div>    
  </div>
  <div class="subs">
    <span>{{ data.subs }}</span>
    <span> <div class=""></div></span>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="dialogRef.close()">Close</button>
  <button mat-button>Edit</button>
</mat-dialog-actions>
