
<app-sidebar></app-sidebar>

<div class="board-container-page" id="board-container-page">
  <div class="top">
    <div class="board-headline" id="tasks">
      <h1 class="titleBoard">Board</h1>
      <div class="searchbar">
        <div class="search">
          <form action="" class="search-bar">
            <input type="search" name="search" pattern=".*\S.*" required />
            <button class="search-btn" type="submit">
              <span>Search</span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom">
    <div class="taskAria">
      <!-- To Do Section -->
      <section class="taskBoardTtle">
        <div class="todoHeadline headLineCss" id="TodoHeadline">
          <h2 class="progressTitles">To Do</h2>
        </div>
        <div class="tasksCardsDiv" id="todo" ondrop="moveIt('todo')" ondragover="allowDrop(event); highlight('todo')" ondragleave="removeHighlight('todo')" >
          @for (task of todoTasks; track $index) {
            <app-task class="task-card" 
            [ngStyle]="{ 'top': (-(($index + 1) * 20)) + 'px', 'left': '0' }"
            [category]="task.category" 
            [title]="task.title" 
            [description]="task.description"
            [assignTo]="task.assignTo"
            [priority]="task.priority"
            (click)="handleClick($event, task)"
            [attr.data-task-id]="task.id">
          </app-task>
          }
        </div>
      </section>

      <!-- In Progress Section -->
      <section class="taskBoardTtle">
        <div class="inProgressHeadline headLineCss" id="inProgressHeadline">
          <h2 class="progressTitles">In Progress</h2>
        </div>
        <div
          class="inProgress tasksCardsDiv"
          id="inProgress"
          ondrop="moveIt('inProgress')"
          ondragover="allowDrop(event); highlight('inProgress')"
          ondragleave="removeHighlight('inProgress')"
        >
          <!-- <div *ngFor="let task of inProgressTasks" class="card shadow">
            <div class="category">
              <span>{{ task.category }}</span>
            </div>
            <div class="title">
              <span>{{ task.title }}</span>
            </div>
            <div class="description">
              <span>{{ task.subTasks }}</span>
            </div>
          </div> -->
        </div>
      </section>

      <!-- Await Feedback Section -->
      <section class="taskBoardTtle">
        <div class="awaitFeedbackHeadline headLineCss" id="awaitFeedbackHeadline">
          <h2 class="progressTitles">Await FeedBack</h2>
        </div>
        <div
          class="awaitFeedback tasksCardsDiv"
          id="awaitFeedback"
          ondrop="moveIt('awaitFeedback')"
          ondragover="allowDrop(event); highlight('awaitFeedback')"
          ondragleave="removeHighlight('awaitFeedback')"
        >
          <!-- <div *ngFor="let task of awaitFeedBack" class="card shadow">
            <div class="category">
              <span>{{ task.category }}</span>
            </div>
            <div class="title">
              <span>{{ task.title }}</span>
            </div>
            <div class="description">
              <span>{{ task.subTasks }}</span>
            </div>
          </div> -->
        </div>
      </section>

      <!-- Done Section -->
      <section class="taskBoardTtle">
        <div class="doneHeadline headLineCss" id="doneHeadline">
          <h2 class="progressTitles">Done</h2>
        </div>
        <div
          class="done tasksCardsDiv"
          id="done"
          ondrop="moveIt('done')"
          ondragover="allowDrop(event); highlight('done')"
          ondragleave="removeHighlight('done')"
        >
        </div>
      </section>
    </div>
  </div>

  <!-- Add Task Button -->
  <div class="button-add-container">
    <button color="surface" mat-fab aria-label="Add New Task" matTooltip="Add New Task" (click)="openDialog()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
