<app-sidebar></app-sidebar>
<div class="board-header-actions">
  <button mat-icon-button (click)="addBoardSection()">
    <mat-icon>add</mat-icon>
  </button>
</div>

<section class="board-section">
  <section class="inside-from-board">
    <div class="taskBoard">
      <div *ngFor="let board of boards" class="board">
        <div class="board-header">
          <span [style.color]="board.color">{{ board.title }}</span>
          <div class="small-circle"></div>
        </div>

        @for (task of board.tasks; track $index) {
          <app-task
            class="task-card"
            dragleave="removeHighlight(board.title)"
            drop="moveTo(board.title)"
            dragover="allowDrop($event); highlight(board.title)"
            [ngStyle]="{ top: -(($index + 1) * 20) + 'px', left: '0' }"
            [category]="task.category"
            [title]="task.title"
            [description]="task.description"
            [priority]="task.priority"
            (click)="handleClick()"
            [attr.data-task-id]="task.id"
          ></app-task>
        }
        <!-- ✅ Jetzt innerhalb des Boards -->
        <div (click)="openDialog()" class="add-task">Add Task</div>
      </div>
    </div>
  </section>
</section>
