.task-form-container {
  width: calc(100vw - 250px);
  height: calc(100vh - 90px);
  margin-left: 250px;
  background: gray;
  padding-top: 100px;
}

.formatask {
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  width: 500px;
  padding-left: 50px;
}

.title-dueDate {
  display: flex;
  align-items: center;
  gap: 14px;
  justify-content: space-between;
}

.category {
  color: white;
  width: 100px;
  background: blue;
  padding: 2;
  padding: 2px;
  padding-inline: 10px;
  border-radius: 5px;

  
}

.textarea{
  height: 120px;
  resize: none;
}

.radio {
  background: #454857;
  padding: 4px;
  border-radius: 3px;
  box-shadow: inset 0 0 0 3px rgba(35, 33, 45, 0.3), 0 0 0 3px rgba(185, 185, 185, 0.3);
  position: relative;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.radio input {
  width: 100px;
  height: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  cursor: pointer;
  border-radius: 2px;
  padding: 4px 8px;
  background: #454857;
  color: #bdbdbdbd;
  font-size: 14px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  transition: all 100ms linear;
}

.radio input:checked {
  color: #fff;
  box-shadow: 0 1px 1px #0000002e;
  text-shadow: 0 1px 0px #79485f7a;
}

.radio input[value="low"]:checked {
  background-color: #95d891; /* Green */
}

.radio input[value="medium"]:checked {
  background-color: #ffeb3b; /* Yellow */
  color: black;
}

.radio input[value="high"]:checked {
  background-color: #ff9800; /* Orange */
}

.radio input[value="urgent"]:checked {
  background-color: #f44336; /* Red */
}

.radio input:before {
  content: attr(label);
  display: inline-block;
  text-align: center;
  width: 100%;
}

.category-assingt {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}