<app-sidebar></app-sidebar>
<app-header></app-header>

<div class="task-form-container" id="taskFormContainer">
  <div class="formatask">
    <form (ngSubmit)="addNewTask()" #taskForm="ngForm" class="form">
      <div class="title-dueDate">
        <div class="title">
          <mat-form-field appearance="fill">
            <mat-label>Title</mat-label>
            <input matInput placeholder="Title" />
          </mat-form-field>
        </div>
        <div class="dueDate">
          <mat-form-field>
            <mat-label>MM/DD/YYYY</mat-label>
            <input matInput [matDatepicker]="picker" />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="description">
        <mat-form-field class="wdh100 textarea">
          <mat-label>Description</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
      </div>
      <div class="radio">
        <input
          checked=""
          value="low"
          name="priority"
          id="low"
          type="radio"
          label="Low"
        />
        <input
          value="medium"
          name="priority"
          id="medium"
          type="radio"
          label="Medium"
        />
        <input
          value="high"
          name="priority"
          id="high"
          type="radio"
          label="High"
        />
        <input
          value="urgent"
          name="priority"
          id="urgent"
          type="radio"
          label="Urgent"
        />
      </div>
      <div class="category-assingt">
        <div class="catgory">
          <mat-form-field>
            <mat-label>Category</mat-label>
            <mat-select>
              @for (food of foods; track food) {
              <mat-option [value]="food.value">{{ food.viewValue }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
        <div class="assign">
          <mat-form-field>
            <mat-label>Toppings</mat-label>
            <mat-select [formControl]="toppings" multiple>
              @for (topping of toppingList; track topping) {
              <mat-option [value]="topping">{{ topping }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="add-task-web-page"></div>
