<app-sidebar></app-sidebar>
<app-header></app-header>

<div class="">
  <form>
    <input type="text" class="" id="" name=""  placeholder="" required 8>
    <input type="text" class="" id="" name=""  placeholder="" required 8>
    <input type="text" class="" id="" name=""  placeholder="" required 8>
    <input type="date" class="" id="" name=""  placeholder="" required 8>
    <input type="radio" class="" id="" name="" placeholder="" required 8>
    <input type="text" class="" id="" name=""  placeholder="" required 8>
    <input type="text" class="" id="" name=""  placeholder="" required 8>
  </form>
</div>