<!-- <div id="registerSuccessfullyContent"></div>
  <div id="animationJoinLogoContainer" class="animationJoinLogo">
    <img class="join-logo animated" src="./assets/img/join-logo.svg" alt="" />
    <img
      class="join-logo-responsive animated"
      src="./assets/img/join-logo-white.svg"
      alt=""
    />
  </div>
  <div id="signUpButtonHeadline" class="sign-up-button-container">
    <p>Not a Join user?</p>
    <p onclick="renderSignUpContent()" class="sign-up-log-in-button">Sign up</p>
  </div>
  <div class="content">
  <div id="contentUserValidation">
    `
    <div class="log-in-container">
      <div class="headline-log-in-container">
        <h1 class="headline-log-in">Log in</h1>
        <div class="bottom-line"></div>
      </div>
      <form (ngSubmit)="login()" #loginData="ngForm" class="input-log-in">
        <div class="input-field-container">
          <input
            class="input-field"
            type="text"
            id="email"
            [(ngModel)]="user.email"
            name="email"
            required
          />
        </div>
        <div class="input-field-container">
          <input
            class="input-field"
            type="text"
            id="password"
            [(ngModel)]="user.password"
            name="password"
            required
          />
        </div>
        <div class="line">
          <span>ODER</span>
        </div>
        <button (click)="googleSignIn()" class="google-btn">
          <img src="./assets/img/google-icon.png" alt="Google Icon" />
          Mit Google anmelden
        </button>
        <div class="submit-log-in-container">
          <button class="sign-up-log-in-button width-log-in-button">
            Log in
          </button>
          <p
            (click)="guestLogIn()"
            class="guest-log-in-button width-guest-log-in-button"
          >
            Guest Log in
          </p>
        </div>
      </form>
      <p>oder</p>
    </div>
  </div>
  <div id="signUpButtonResponsive" class="sign-up-button-container-responsive">
    <p>Not a Join user?</p>
    <p onclick="renderSignUpContent()" class="sign-up-log-in-button">Sign up</p>
  </div>
  <div
    id="loginpageDataProtectionContainer"
    class="loginpage-data-protection-container"
  >
    <span
      onclick="renderLogInPrivacyPolicyContent()"
      class="loginpage-data-protection-link"
      >Privacy Policy</span
    >
    <span
      onclick="renderLogInLegalNoticeContent()"
      class="loginpage-data-protection-link"
      >Legal notice</span
    >
  </div>
</div> -->

<div class="content">
  <div class="first-line logo-container">
    <img
      src="./assets/img/login/join-logo.svg"
      alt="logo"
      class="animated-logo"
    />
    <div class="flex gap-16 hidden-content">
      <span>Not a Join user?</span>
      <button (click)="openSignUp()">Sign Up</button>
    </div>
  </div>
  <div class="log-in-container hidden-content">
    <img src="./assets/img/login/headline-login.svg" alt="Login" />
    <form #loginForm="ngForm" (ngSubmit)="login()">
      <div class="input-field">
        <input
          name="email"
          [(ngModel)]="user.email"
          required
          type="email"
          placeholder="Email"
        />
        <img src="./assets/img/login/mail.svg" alt="mail" />
      </div>
      <div class="input-field">
        <input
          name="password"
          [(ngModel)]="user.password"
          required
          type="password"
          placeholder="Password"
        />
        <img src="./assets/img/login/lock.svg" alt="lock" />
      </div>
      <div class="rememberme-div">
        <label class="custom-checkbox">
          <input id="myCheck" type="checkbox" />
          <span class="checkmark" id="check"></span>
        </label>
        <p>Remember me</p>
      </div>
      <div class="google-login">
        <button (click)="googleSignIn()" class="google-btn">
          <img src="./assets/img/google-icon.png" alt="Google Icon" />
          Mit Google anmelden
        </button>
      </div>
      <div class="buttons">
        <button class="log-in-button" type="submit">Log in</button>
        <button
          type="button"
          (click)="guestLogIn()"
          class="guest-log-in-button"
        >
          Guest Log in
        </button>
      </div>
    </form>
  </div>
  <div class="third-line hidden-content">
    <a href="#">Privacy Policy</a>
    <a href="#">Legal Notice</a>
  </div>
</div>
