<div class="content">
  <div class="first-line logo-container">
    <img
      src="./assets/img/login/join-logo.svg"
      alt="logo"
      class="animated-logo"
    />
    <div class="flex gap-16 hidden-content">
      <span>Not a Join user?</span>
      <button (click)="openSignUp()">Sign Up</button>
    </div>
  </div>
  <div class="log-in-container hidden-content">
    <img src="./assets/img/login/headline-login.svg" alt="Login" />
    <form #loginForm="ngForm" (ngSubmit)="login(guest)">
      <div class="input-field">
        <input
          name="email"
          [(ngModel)]="user.email"
          required
          type="email"
          placeholder="Email"
          id="email"
        />
        <img src="./assets/img/login/mail.svg" alt="mail" />
      </div>
      <div class="input-field" [class.error]="loginError">
        <input
          name="password"
          [(ngModel)]="user.password"
          required
          type="password"
          placeholder="Password"
          (focus)="loginError = false"
          id="password"
        />
        <img src="./assets/img/login/lock.svg" alt="lock" />
      </div>
      <p *ngIf="loginError" class="error-message">Password is wrong</p>
      <div class="rememberme-div">
        <label class="custom-checkbox">
          <input (click)="checkedFunction()"
          id="myCheck" type="checkbox" name="myCheck" [(ngModel)]="rememberMe"
          (change)="onRememberMeChange()" />
          <span class="checkmark" id="check"></span>
        </label>
        <p>Remember me</p>
      </div>
      <div class="google-login">
        <button (click)="googleSignIn()" class="google-btn">
          <img src="./assets/img/google-icon.png" alt="Google Icon" />
          Mit Google anmelden
        </button>
      </div>
      <div class="buttons">
        <button class="log-in-button" type="submit">Log in</button>
        <button (click)="guestLogin()" type="button" class="guest-log-in-button">Guest Log in</button>
      </div>
    </form>
  </div>
  <div class="third-line hidden-conten8t">
    <a href="#">Privacy Policy</a>
    <a href="#">Legal Notice</a>
  </div>
</div>
