.content {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(230, 228, 228);
  gap: 16px;
}

.first-line {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gap-16 {
  gap: 16px;
}

.flex {
  display: flex;
  align-items: center;
  > span {
    font-size: 24px;
  }
  > button {
    background-color: rgb(42, 54, 71);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    gap: 10px;
    font-size: 16px;
    cursor: pointer;
    padding: 16px;
    &:hover {
      scale: 1.2;
    }
  }
}

.log-in-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 652px; */
  /* height: 493px; */
  background-color: white;
  border-radius: 30px;
  padding: 48px 115px 48px 115px;
  gap: 32px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.input-field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  > img {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
  }
}

input {
  height: 27px;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 20px;
  width: 95%;
  display: flex;
  align-items: center;
}

.rememberme-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  gap: 16px;
  > p {
    font-size: 24px;
  }
}

.checkbox {
  width: 16px;
  height: 16px;
  background: #fff;
  border: 3px solid #000;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 24px;
}

.log-in-button {
  background-color: rgb(42, 54, 71);
  color: white;
  padding-inline: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  gap: 10px;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
}

.guest-log-in-button {
  background-color: rgb(255, 255, 255);
  color: rgb(42, 54, 71);
  padding-inline: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  gap: 10px;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
}

.third-line {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  > a {
    text-decoration: none;
    color: #a8a8a8;
    font-size: 24px;
    &:hover{
      color: #32aee3;
    }
  }
}

  .logo-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    animation: logo-move 2s ease-in-out forwards;
  }

  .animated-logo {
    width: 100px;
    height: auto;
  }

  .custom-checkbox input {
    opacity: 0;
    position: absolute;
}


.custom-checkbox .checkmark {
    display: inline-block;
    top: 3px;
    width: 15px;
    height: 15px;
    background: #fff;
    border: 3px solid #000;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
}


.custom-checkbox input:checked+.checkmark:after {
    content: "\2713";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    color: #000;
}

  .hidden-content {
    opacity: 0;
    animation: opacity 5s ease-in-out;
    opacity: 1;
  }

  .google-login{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .google-btn {
    width: 100%;
    height: 50px;
    gap: 10px;
    border-radius: 100px;
    background-color: #eceefe;
    border: 1px solid rgba(104, 104, 104, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 40px;
    >img {
        width: 40px;
        height: 40px;
        box-sizing: border-box;
    }
  }

  @keyframes logo-move {
    0% {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    100% {
      top: 40px;
      left: 40px;
      transform: translate(0, 0);
    }
  }

  @keyframes opacity{
    0% {
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }

  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }

  .input-field.error input {
    border-color: red;
  }
